.SocialMediaLinkContainer
  display: flex
  flex-direction: column
  align-items: center

.SocialMediaLink
  color: white
  font-family: 'Roboto Mono', monospace

.SocialMediaLinkIcon
  display block
  width: 128px
  height: 128px