.container
  background-color: purple
  display: flex
  flex-direction: column
  align-items: center

.link
  color: white
  font-family: 'Roboto Mono', monospace

.icon
  display: block
  width: 64px
  height: 64px